body{
	background-image: url('../images/BackgroundImage.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed; 
	color: white;
	
	font-size: 20px;
	padding: 0;
	margin: 0;
	min-height: 100vh;
}

H1{
	text-align: center;
}

.MainPanels{
	background-color: rgba(10, 32, 35, 0.77);
	width: 50%;
	margin-bottom: 50px;
	margin-top: 10px;
	padding: 2%;
	margin-left: auto;
    margin-right: auto;
	border-radius: 15px;
}

#Main-Content{
	padding-bottom: 30px;
}

#Footer {
	/*for now nothing here*/
	margin-bottom: 0;
}

/* Segment for the navigation */
#Menu{
	padding: 0;
	width: 52%;
	transform: skew(30deg, 0deg);
	border-radius: 5px;
	margin: 20px auto;

	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.nav-child{
	/* remove gap from width of element */
	width: calc(20% - 10px);
	min-width: 100px;
	padding: 10px 2% 10px;
	box-sizing: border-box;
	text-align: center;
	display: flex;
	align-items: center;
	background-color: antiquewhite;
}

.nav-child a{
	transform: skew(-30deg, 0deg);
	display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;

	border-radius: 8px;
}

.nav-child:not(.nav-selected):hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /*delikatny cień */
    transform: translateY(-3px); /* Delikatne uniesienie */
	filter: drop-shadow(0px 20px 4px rgba(0, 0, 0, 0.744));

	transition: background-color 0.3s, filter 0.3s, transform 0.3s;
}

.nav-child:not(.nav-selected):hover a {
    color: rgb(250, 250, 250) !important;
	transition: color 0.3s;
}

.nav-selected {
	 animation: pulse 5s infinite; /* Dodajemy animację */
}

 
 @keyframes pulse {
	 0% {
		 transform: scale(1);
	 }
	 50% {
		 transform: scale(1.05); /* Delikatne powiększenie */
		  /* Można też zmieniać box-shadow, kolor tła itp. */
	 }
	 100% {
		 transform: scale(1);
	 }
 }

.nav-selected:hover{
	background-color: rgb(82, 71, 58) !important;
	transition: background-color 0.3s;
}

#nav-main{
	border: 3px solid rgb(0, 195, 195);
	border-radius: 8px;
	background-color: black;
	box-shadow: 0 0 8px 2px rgba(0, 255, 255, 0.7),
               inset 0 0 40px rgb(0, 195, 195);
}

#nav-main a{
	color: rgb(0, 255, 255);
}

#nav-music{
	border: 3px solid rgb(218, 22, 0);
	border-radius: 8px;
	background-color: black;
	box-shadow: 0 0 8px 2px rgba(255, 0, 0, 0.67),
               inset 0 0 40px rgb(195, 0, 0);
}

#nav-music a{
	color: rgba(255, 25, 0);
}

#nav-blog{
	border: 3px solid rgb(218, 196, 0);
	border-radius: 8px;
	background-color: black;
	box-shadow: 0 0 8px 2px rgba(255, 242, 0, 0.67),
               inset 0 0 40px rgb(195, 189, 0);
}

#nav-blog a{
	color: rgb(218, 196, 0);
}

#nav-cooking{
	border: 3px solid rgb(218, 105, 0);
	border-radius: 8px;
	background-color: black;
	box-shadow: 0 0 8px 2px rgba(255, 140, 0, 0.67),
               inset 0 0 40px rgb(195, 117, 0);
}

#nav-cooking a{
	color: rgb(218, 105, 0);
}

#nav-coding{
	border: 3px solid rgb(22, 218, 0);
	border-radius: 8px;
	background-color: black;
	box-shadow: 0 0 8px 2px rgba(47, 255, 0, 0.67),
               inset 0 0 40px rgb(55, 195, 0);
}

#nav-coding a{
	color: rgb(22, 218, 0);
}